<div class="row page-title">
  <div class="col s11 m11">
    <h4><%= !@album.domain_id.nil? ? @domain.name : "" %> / <%= @album.name %> / <%= @album.suffix %></h4>
  </div>

  <% if user_signed_in? and current_user.id == @album.user.id %>
    <div class="col s1 m1 right">
      <%= link_to edit_manage_album_path(@album), class: "btn-floating right btn-large waves-effect waves-light red" do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
    </div>
  <% end %>
</div>

<h4>Please provide the password to unlock the page:</h4>
<p>
  <%= form_with(url: unlock_album_path(@album), local: true) do |form| %>
    <div class="input-field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, value: nil %>
    </div>

    <%= form.submit "Submit", class: "btn" %>
  <% end %>
</p>

<%= render "manage/albums/facebook_comments_script" %>